.input_container{
    position: relative; /*important*/
    }
    
    .input_icon{
    position: absolute; /*important*/
    top: 2px;
    color: red; /*Tu peux changer ici*/
    left: 2px;
    font-size: 21px; /*Tu peux changer ici*/
    width: 50px;
    }
    
    input[type="text"], input[type="password"] {
        padding-left:70px; /*Laisse de l'espace pour l'icône*/
    }